.circular {
  width: 50vw;
  height: 50vw;
  background: #e6e6e6;
  border-radius: 50%;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-txt-rec {
  font-weight: bold;
  font-size: 130%;
}

.rec-rec {
  font-weight: 900;
}
