* {
  margin: 0;
  padding: 0;
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  height: 50px;
  background: rgba(24, 22, 22, 0.25);
  border-radius: 65px;
  border: none;
  box-sizing: border-box;
  position: absolute;
  padding-bottom: 1%;
}

.radio > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.labels {
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: black;
  text-align: center;
}
